<div>
    <p><b>name: </b><%= expense.name %></p>

    <p><b>amount: R$ </b><%= expense.amount %></p>
    
    <p><b>payed_at: </b><%= expense.payed_at %></p>
    
    <p><b>fixed? </b><%= expense.fixed %></p>

</div>
